body {
    background-image: url(./IMGS/BG.jpg);

}
.IMAGELOGO {
    float: left;
    padding-left: 75px;
    padding-top: 25px;
}
.navbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    padding-top: 125px;
    font-size: 35px;
}
.navbar a:visited {
    color: bisque;
    background-color: transparent;
    text-decoration: none;
    transform: scale(1.4);
}
.navbar a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
    transform: scale(1.5);
}

