body {
    background-image:url("./IMGS/BG.jpg");
}
.IMAGELOGO {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
}
